{#
/**
 * @file
 * Default theme implementation for displaying a single Lexicon term in the
 * Lexicon overview page.
 *
 * This template renders a single Lexicon term in the Lexicon overview page.
 *
 * Available variables:
 * - term: term object.
 *    - term.tid: the term id.
 *    - term.id: the id to be used as the anchor name/fragment.
 *    - term.name: the term name (as a link if the "link to term page"
 *      setting was selected; use to prevent XSS vulnerability).
 *    - term.safe_name: the sanitized term name (as a link if the "link to
 *      term page" setting was selected; use to prevent XSS vulnerability).
 *    - term.image: the term image (if any) as a named array containing
 *      image["uri"], image["alt"] and image["title"].
 *    - term.description: the term description (if any).
 *    - term.safe_description: the sanitized term description (if any; use to
 *      prevent XSS vulnerability).
 *    - term.related: the related terms (if any) as an array containing
 *      related terms as an array containing ["name"] and ["link"] as a named
 *      array containing "path" and "fragment".
 *    - term.synonyms: the term synonyms (if any) in an array.
 *    - term.extralinks: the extralinks (if any) in an array containing
 *      ["name"], ["path"] and ["attributes"] per element.
 */
#}
<dt>
<a id="{{ term.id }}"></a>
  {{ term.safe_name }}
  {% if term.extralinks %}
    <span class="lexicon-extralinks">
    {% for link in term.extralinks %}
      {{ link(link["name"], link["url"]) }}
    {% endfor %}
    </span>
  {% endif %}
</dt>

{% if term.safe_description or term.synonyms or term.image or term.related %}
  <dd>
  {% if term.image %}
  <!-- @todo: fix image style: image_style_url('thumbnail', term.image["uri"]) -->
    <img src="{{ term.image["uri"] }}" alt="{{ term.image["alt"] }}" title="{{ term.image["title"] }}" />
  {% endif %}

  {% if term.safe_description %}
    <!-- @todo: view output as rendered. need to fix this. -->
    {{ term.safe_description|raw }}
  {% endif %}

  {% if term.related %}
  <p class="lexicon-related">
    {{ 'See also: '|t }}
    {% for related_term in term.related %}
      {% if related_term["link"] %}
        {{ link(related_term["name"], related_term["link"]["path"], {'fragment': related_term["link"]["fragment"]}) }}
      {% else %}
        {{ related_term["name"] }}
      {% endif %}
    {% endfor %}
  </p>
  {% endif %}

  {% if term.synonyms %}
  <p class="lexicon-synonyms">
    {{ 'Synonyms: '|t }}
    {% for synonym in term.synonyms %}
      {{ synonym }}
    {% endfor %}
  </p>
  {% endif %}
  </dd>
{% endif %}

